<div style="margin: 40px;">
    <h1 class="text-center mb-4">Vos emails</h1>
    
    <div style="margin: 40px;">
        <%= form_tag(emails_path, method: :post, class: "form", remote: true) do %>    
            <%= submit_tag 'Recevoir un email', :name => 'commit'%>
        <% end %>
    </div>

    <div class="row">
    
    
        <div class="col-4" id="col_email"> 
            
            
            <%@emails.reverse.each do |email|%>
                
                    <%if email.read == false%>
                        <div class="card border-dark row" id="<%=email.id%>">                    
                            <div class="card-header">
                                <p class="strong"> <%= link_to "#{email.objet}", email_path(email.id), remote: true %></p>
                            </div>
                        </div>
                            
                    <% else %>
                        <div class="card border-light row" id="<%=email.id%>">                    
                            <div class="card-header">
                                <p class="strong"> <%= link_to "#{email.objet}", email_path(email.id), remote: true %></p>
                            </div>
                        </div>
                        
                    <%end%>
                    
                
            <%end%>
        </div>

        <div class="card col-8" id="read-email">
        <div></div>
        </div>
    </div>
</div>